.contact {
  background-color: rgb(50, 185, 32);
  padding: 100px;
}

.contact-header h1 {
  text-align: left;
}

.message-wrapper {
  text-align: center;
}

span {
  /* color: red; */
  margin: auto;
}

/* .form-field-button {
  display: flex;
} */

.message-heading h2 {
  font-size: 60px;
  padding: 80px 0 25px;
}

.message-heading p {
  font-size: 1.3rem;
  line-height: 2em;
}

.form-info-top {
  display: flex;
  justify-content: space-around;


}

.name {
  display: flex;
  padding: 30px 0;
}

.name label {
  text-align: center;
  margin: auto;
  padding: 0 10px;
}

.name input {
  width: 300px;
}

/* input textarea {
  background-color: rgb(50, 185, 32);
  border-bottom: 1px solid black;
} */

.name input {
  padding: 13px;
  /* text-align: left; */
  background-color: rgb(50, 185, 32);
  border: 1px solid rgb(50, 185, 32);
  border-bottom: 1px solid rgb(2, 5, 1);
  ;


}

.email {
  display: flex;
  padding: 30px 0;

}

.email label {
  text-align: left;
  margin: auto;
  padding: 0 10px;

}

.email input {
  background-color: rgb(50, 185, 32);
  border: 1px solid rgb(50, 185, 32);
  border-bottom: 1px solid rgb(2, 5, 1);
  width: 300px;
}

.message {
  display: flex;
  text-align: left;
  padding: 45px 0;
  justify-content: center;
}

.message label {
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.message textarea {
  height: 4rem;
  font-size: 20px;
  padding: 5px;
  background-color: rgb(50, 185, 32);
  border: 1px solid rgb(50, 185, 32);
  border-bottom: 1px solid black;
  color: black;
  width: 800px;

}

@media screen and (max-width: 820px) {
  .message-heading h2 {
    font-size: 45px;
  }
}




@media screen and (max-width: 414px) {
  .form {
    /* display: flex; */
    justify-content: center;
  }

  .contact {
    padding: 50px;
  }

  .form-info-top {
    display: grid;
    justify-content: flex-start;
  }

  .name {
    display: grid;
  }

  input {
    width: 25;
  }

  .email {
    display: grid;
  }

  /* .email input {
    width: auto;
  } */

  .message {
    display: grid;
  }

  .message textarea {
    width: 300px;
    height: 150px;
  }

  .message-heading h2 {
    font-size: 19px;
    text-transform: uppercase;
  }

  .message-heading p {
    font-size: 17px;
  }

  .name label {
    display: grid;
    text-align: center;
  }

  .name input {
    display: grid;
    /* text-align: center; */
  }

  .email label {
    display: grid;
    text-align: center;
  }

  .email input {
    display: grid;
    /* text-align: center; */
  }

  .message label {
    display: grid;
    text-align: center;
  }



  .form-info {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
  }

  input {
    padding: 12px 0;
  }

}